
Basics/Data_Collection_&_Pre-Processing/credit_data.csv
Basics/Data_Collection_&_Pre-Processing/diabetes.csv
Basics/Data_Collection_&_Pre-Processing/train.csv
Basics/Distance_Measure - Shortcut.lnk
Basics/Handling_Missing_Values/horse-colic.csv
